.full-screen {
    min-height: 76vh;
}

.background-gray {
  background-color: #454347;
  color: white
}

.subtext {
    color: #949494
}

.logo {
    max-height: 90px;
}

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }