.header {
    background-color: #272727;
    color: white;
}

.footer {
    background-color: #272727;
    color: white;
}

.App {
  background-color: #454347;
  color: white
}

.subtext {
    color: #949494
}